/bin
*.prefs
language.settings.xml
/rx_head_nios/software/rx_head_nios_bsp/settings.bsp
summary.html
*.dep
*.o
*.cache
*.old
*.bak
*.sym
*.dat
*.hex
*.elf
*.map
*.log
*.snap
SysprogsSyncCache
Release-soc
version.txt
v16
CodeDB
.vs
_out
_temp
dist
obj
VisualGDBCache
*/org.eclipse.core.resources
*.objdump
org.eclipse.core.resources
.log
/rx_head_nios/software/rx_head_nios_bsp/.cproject
/rx_head_nios/software/rx_head_nios_bsp/.project
/rx_head_nios/software/rx_head_nios_bsp/alt_sys_init.c
/rx_head_nios/software/rx_head_nios_bsp/libhal_bsp.a
/rx_head_nios/software/rx_head_nios_bsp/linker.h
/rx_head_nios/software/rx_head_nios_bsp/linker.x
/rx_head_nios/software/rx_head_nios_bsp/Makefile
/rx_head_nios/software/rx_head_nios_bsp/mem_init.mk
/rx_head_nios/software/rx_head_nios_bsp/memory.gdb
/rx_head_nios/software/rx_head_nios_bsp/public.mk
/rx_head_nios/software/rx_head_nios_bsp/system.h
/rx_head_nios/software/rx_head_nios_bsp/obj
/rx_fluid_nios/software/rx_fluid_nios_bsp/.cproject
/rx_fluid_nios/software/rx_fluid_nios_bsp/.project
/rx_fluid_nios/software/rx_fluid_nios_bsp/alt_sys_init.c
/rx_fluid_nios/software/rx_fluid_nios_bsp/create-this-bsp
/rx_fluid_nios/software/rx_fluid_nios_bsp/libhal_bsp.a
/rx_fluid_nios/software/rx_fluid_nios_bsp/linker.h
/rx_fluid_nios/software/rx_fluid_nios_bsp/linker.x
/rx_fluid_nios/software/rx_fluid_nios_bsp/Makefile
/rx_fluid_nios/software/rx_fluid_nios_bsp/mem_init.mk
/rx_fluid_nios/software/rx_fluid_nios_bsp/memory.gdb
/rx_fluid_nios/software/rx_fluid_nios_bsp/public.mk
/rx_fluid_nios/software/rx_fluid_nios_bsp/settings.bsp
/rx_fluid_nios/software/rx_fluid_nios_bsp/system.h
/rx_fluid_nios/software/rx_fluid_nios_bsp/obj
/rx_head_nios/software/rx_head_nios/obj
/rx_head_nios/software/rx_head_nios_bsp/HAL
/rx_head_nios/software/rx_head_nios_bsp/drivers
/rx_fluid_nios/software/rx_fluid_nios_bsp/HAL
/rx_fluid_nios/software/rx_fluid_nios_bsp/.settings
/rx_fluid_nios/software/rx_fluid_nios_bsp/drivers
/rx_head_nios/software/rx_head_nios/rx_head_nios.objdump
/rx_head_nios/software/rx_head_nios/rx_head_nios.elf
/rx_head_nios/software/rx_head_nios/rx_head_nios.map
__pycache__
*.pyc
.vscode/
TEST-*.xml
.scannerwork/
build_wrapper_output_directory/
rx_fluid_nios/software/rx_fluid_nios/mem_init/
rx_head_nios/software/rx_head_nios/mem_init/
rx_digiprint_gui/Properties/AssemblyInfo.cs
mvt_digiprint_gui/Properties/AssemblyInfo.cs
*.sdf
*.opensdf
rx_rip_lib.dll
*.csproj.user
*.vcxproj.user
rx_fluid_nios/software/.metadata/
rx_head_nios/software/.metadata/
version.c
/bin/newgui/*.dll
*.suo
/RX-LabelComposer/Properties/AssemblyInfo.cs
/bin/gui/*.dll
/bin/gui/*.ppk
/printed/*.bmp
Stored_Data/