/bin/encoder/rx_encoder_ctrl
/bin/fluid/rx_fluid_ctrl
/bin/fluid/rx_fluid_nios
/bin/gui/rx_common_lib_cs.dll
/bin/gui/RX_DigiPrint.exe
/bin/gui/rx_rip_lib.dll
/bin/head/rx_head_cond
/bin/head/rx_head_ctrl
/bin/head/rx_head_nios
/bin/main/rx_dhcp_server
/bin/main/rx_main_ctrl
/bin/rx_boot_lx
/bin/rx_boot_soc
/bin/spooler/rx_spooler_ctrl
/bin/stepper/rx_stepper_ctrl
/bin/win/rx_main_ctrl.exe
/bin/win/rx_rip_lib.dll
/bin/win/rx_spooler_ctrl.exe
/bin/win10/ndisapi.dll
/bin/win10/rx_net_bridge.exe
/bin/win10/rx_route.exe
/bin/win10/Win10-Install.exe
/bin/win10/Win10-RunOnce.exe
/bin/win10/Win10-Startup.exe
/rx_fluid_nios/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/rx_head_nios/software/.metadata/.plugins/org.eclipse.cdt.core/rx_head_nios.language.settings.xml
/rx_head_nios/software/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/rx_head_nios/software/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
/rx_head_nios/software/.metadata/.plugins/org.eclipse.core.resources/.projects/rx_head_nios/.indexes/properties.index
/rx_head_nios/software/.metadata/.plugins/org.eclipse.core.resources/.projects/rx_head_nios/.markers
/rx_head_nios/software/.metadata/.plugins/org.eclipse.core.resources/.projects/rx_head_nios_bsp/.indexes/properties.index
/rx_head_nios/software/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/rx_head_nios/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/rx_head_nios/software/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/rx_head_nios/software/rx_head_nios_bsp/settings.bsp
/rx_head_nios/software/rx_head_nios_bsp/summary.html
*.dep
*.o
*.cache
*.old
*.bak
*.sym
*.dat
*.hex
*.elf
*.map
*.log
SysprogsSyncCache
Release-soc
version.c
version.txt
v16
CodeDB
.vs
_out
_temp
obj
VisualGDBCache
