<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ftdichip.ft90x.ui.handlers.run">
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="C:\Program Files (x86)\Bridgetek\FT9xx Toolchain\Toolchain\tools\bin\ft32-elf-gdb.exe"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.HOST" value="localhost"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.PORT" value="9998"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.REMOTE_TCP" value="true"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
