html, body, div, p, h1, h2, hr, ul, li, img, table, th, td, form, fieldset, legend {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 145%;
    letter-spacing: 1px;
    color: rgb(138, 173, 67);
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

a:hover {
    color: rgb(138, 173, 67);
}

img.background {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    z-index: 1;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.frame {
    position: relative;
    margin: 0 5% 0 15%;
    padding-bottom: 180px;
    max-width: 1200px;
    z-index: 3;
}

.logo {
    position: relative;
    width: 380px;
    height: 400px;
    background: url(../img/logo.png) center no-repeat;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 90px;
    font-size: 18px;
    color: rgb(100, 100, 100);
    z-index: 2;
}