<!doctype html>
<html>
<head>
    
    <title>Scales</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="icon" type="image/png" href="mouvent.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body>
    <div ng-app="myApp" ng-controller="myController" class="container">
        <form name="scales">
            <table class="table table-sm">
            <tr>
                <th>Scales</th><th>Grams</th>
            </tr>
            <tr ng-repeat="scale in scales">
                <td>{{scale.id}}</td><td><input type="number" ng-model="scale.weight"/></td>
            </tr>
        </table>
            <button class="btn btn-default" ng-click="submit(scales)" type="submit">Submit</button>
        </form>
    </div>
</body>

<script>
    angular.module("myApp", [])
        .controller('myController', function ($scope, $http) {
            $http({method : 'GET',url : 'http://localhost:8080/Fluid/0'})
            .success(function(data, status) {
                $scope.scales=data.REP_SCALES_STAT.val.map((x,index) =>{ return {id:index, weight:x}; });
             });

             $scope.submit = function(data) {
                console.log(data);
                $http({
                url: 'http://localhost:8080/Fluid/0',
                dataType: 'json',
                method: 'POST',
                data: {REP_SCALES_STAT: {val:data.map(x=>x.weight)}},
                headers: {
                    "Content-Type": "application/json"
                }
             });
            }; 

        });
    
</script>
</html>